{% extends 'base.html' %}

{% block content %}
    <h1>Rafi's Inventory Page</h1>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 8px;
            border: 1px solid #ccc; /* Optional: Add a border to cells for better separation */
        }
    </style>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>
            <th>Damage</th>
            <th>Actions</th>
        </tr>

        {% comment %} Below is how to show the product data {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.damage }}</td>
                <td>
                    <a href="/increment_amount/{{ product.id }}">
                        <button type="button">
                            Increment Amount
                        </button>
                    </a>

                    <a href="/decrement_amount/{{ product.id }}">
                        <button type="button">
                            Decrement Amount
                        </button>
                    </a>


                    <a href="/delete_item/ {{ product.id }}">
                        <button type="button">
                            Delete Item
                        </button>
                    </a>

                </td>
            </tr>
        {% endfor %}
    </table>

    <br />
    <p>You have saved {{ data_count }} items in this application</p>

    <h5>Last login session: {{ last_login }}</h5>

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>


    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>


{% endblock content %}
