{% block content %}
<div class="flex justify-between px-10 py-5 bg-gradient-to-r from-indigo-500 to-indigo-900 text-white">
    <div class="flex items-center gap-5">
        <a href="/" class="text-4xl transition-colors font-bold transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-100 duration-150">Rafi's Inventory</a>
        <button data-modal-target="add_product_modal" data-modal-toggle="add_product_modal" class="block text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-blue-800 transition ease-in-out delay-50 hover:-translate-y-1 hover:scale-110 duration-150" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
        </button>
    </div>  

    <div class="flex items flex-col gap-2 px-10">
        <p class="text-base leading-normal"> Welcome, {{ user.username }} (PBP KKI) </p>
        <p class="text-base leading-normal"> Last login session: {{ last_login }} </p>
        <a href="{% url 'main:logout' %}" class="bg-rose-600 w-max px-5 py-2 rounded-xl hover:bg-red-500 transition-colors"> Logout </a>
    </div>
</div>

{% endblock %}